In [14]:
import os
import sys
import numpy as np
import pandas as pd
import cv2
import yaml
import pickle
import glob

c:\Users\user\anaconda3\envs\python_ksm\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
c:\Users\user\anaconda3\envs\python_ksm\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
c:\Users\user\anaconda3\envs\python_ksm\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  stacklevel=1)

In [21]:
a = np.array([0, 1])

v = np.unique(a)

len(v)

2

In [27]:
def time2frame(time_zone):
    a = format(time_zone, '04')

    m = int(a[0:2])
    s = int(a[2:])

    frametime = ((m*60) + s) * 60

    return frametime

In [28]:
video_path = os.path.join('..', 'data', 'video', '1.400.20.81.610.077944533301892.8249.1.46.dcm')

# GT 데이터를 정리합니다.
# GT 데이터 로드
GT_xlsx_path = glob.glob(os.path.join(video_path, '*.xlsx'))
GT_xlsx = pd.read_excel(GT_xlsx_path[0], engine='openpyxl')

In [29]:
GT_xlsx

   Location  Start time  End time
0        ES           0        12
1        GE          10        34
2      BODY          32        39
3        AT          37        46
4        BB          44        52
5        SD          50       108
6        AT         106       113
7        AG         111       118
8        AT         116       132
9      BODY         130       137
10       CR         135       210
11     BODY         208       230
12       AT         228       242
13       ES         240       254
14       NO         252       302

In [30]:
# GT데이터는 분(min)으로 구성되어, 초(sec)로 변환한다.
L_lst, S_lst, E_lst = [], [], []

for i, (L, S, E) in enumerate(zip(GT_xlsx['Location'], GT_xlsx['Start time'], GT_xlsx['End time'])):
    S_frametime = time2frame(S)
    E_frametime = time2frame(E)
    
    L_lst.append(L)
    S_lst.append(S_frametime)
    E_lst.append(E_frametime)

In [31]:
new_gt = pd.DataFrame({"location": L_lst, "start time": S_lst, "end time": E_lst})

new_gt

   location  start time  end time
0        ES           0       720
1        GE         600      2040
2      BODY        1920      2340
3        AT        2220      2760
4        BB        2640      3120
5        SD        3000      4080
6        AT        3960      4380
7        AG        4260      4680
8        AT        4560      5520
9      BODY        5400      5820
10       CR        5700      7800
11     BODY        7680      9000
12       AT        8880      9720
13       ES        9600     10440
14       NO       10320     10920

In [32]:
frame_flow, gt = [], []

for i, (L, S, E) in enumerate(zip(new_gt['location'], new_gt['start time'], new_gt['end time'])):
    for j in range(S, E):
        if j not in frame_flow:
            frame_flow.append(j)
            gt.append([L])
        else:
            gt[j].append(L)

In [33]:
gt[700][1]

'GE'

In [34]:
a, b = [], []

for i in range(4):
    if i not in a:
        a.append(i)
        b.append(['l'])
    else:
        b.append('l')
for i in range(3, 6):
    if i not in a:
        a.append(i)
        b.append(['k'])
    else:
        b[i].append('k')
        
print(a)
print(b)

[0, 1, 2, 3, 4, 5]
[['l'], ['l'], ['l'], ['l', 'k'], ['k'], ['k']]

In [35]:
a = ['0','1','2','3','4','5','6']
b = ['0','1','2','3','7','6','6']

for i, (aa, bb) in enumerate(zip(a,b)):
    if aa=='0' or bb=='7':
        a.pop(i)
        b.pop(i)
        
print(a, b)

['1', '2', '3', '5', '6'] ['1', '2', '3', '6', '6']

In [54]:
v_paths = glob.glob(os.path.join('..', 'data', 'video', '*.dcm'))

for path in v_paths:
    print(path.split('\\')[-1])

1.400.20.81.610.077944533301892.8249.1.46.dcm
1.400.20.81.610.078491334189220.7822.1.32.dcm
1.400.20.81.610.079325033927347.5367.1.27.dcm
1.400.20.81.610.080458633120848.0810.1.24.dcm
1.400.20.81.610.108966936682144.9534.1.28.dcm
1.400.20.81.610.109633337015358.9419.1.35.dcm
1.400.20.81.610.111429433303065.5313.1.57.dcm
1.400.20.81.610.131151534151164.8695.1.26.dcm
1.400.20.81.610.131799234807119.4572.1.28.dcm
1.400.20.81.610.161037336482438.4564.1.37.dcm
1.400.20.81.610.168147833926604.9779.1.30.dcm
1.400.20.81.610.171542535943831.4844.1.27.dcm
1.400.20.81.610.175167133752043.7163.1.24.dcm
1.400.20.81.610.196813633377392.1394.1.22.dcm
1.400.20.81.610.200493034298654.7238.1.29.dcm
1.400.20.81.610.203103235073603.5729.1.28.dcm
1.400.20.81.610.243077933450098.6864.1.40.dcm
1.400.20.81.610.255785833024888.0342.1.38.dcm
1.400.20.81.610.301874233405332.0341.1.18.dcm
1.400.20.81.610.404626683892714.1991.1.17.dcm

In [14]:
import tensorflow as tf
import datetime

import time

aa = time.time()

time.sleep(3)

print('The Time Required : {1:.3f}'.format(time.time() - aa))

IndexError: tuple index out of range

In [16]:
import numpy as np
import pandas as pd

a = [1,2,3,4,5]

print(np.mean(a))
print(np.var(a))
print(np.std(a))

3.0
2.0
1.4142135623730951

In [25]:
a = [{0:{'1':0, '2':1}}, 
     {1:{'1':0, '2':1}}]

a[1]

{1: {'1': 0, '2': 1}}

In [28]:
a = [{'ES': {'sensitivity': 0.9930131004366812, 'specificity': 0.8}, 
    'GE': {'sensitivity': 0.9817123857024106, 'specificity': 0.8245614035087719}, 
    'CR': {'sensitivity': 0.9651056014692379, 'specificity': 0.8771929824561403}, 
    'UB': {'sensitivity': 0.9694656488549618, 'specificity': 0.38271604938271603}, 
    'MB': {'sensitivity': 0.9815590947191953, 'specificity': 0.1791044776119403}, 
    'LB': {'sensitivity': 0.975328947368421, 'specificity': 0.4772727272727273}, 
    'AG': {'sensitivity': 0.9777571825764597, 'specificity': 0.9116022099447514}, 
    'AT': {'sensitivity': 0.9721448467966574, 'specificity': 0.8579234972677595}, 
    'BB': {'sensitivity': 0.9891304347826086, 'specificity': 0.796875}, 
    'SD': {'sensitivity': 0.9964695498676082, 'specificity': 0.9291338582677166}, 
    'NO': {'sensitivity': 0.9431192660550459, 'specificity': 0.7470588235294118}}, 
    {'ES': {'sensitivity': 0.997338065661047, 'specificity': 0.8270676691729323}, 
    'GE': {'sensitivity': 0.9809602649006622, 'specificity': 0.8846153846153846}, 
    'CR': {'sensitivity': 0.9748603351955307, 'specificity': 0.8548387096774194}, 
    'UB': {'sensitivity': 0.9690117252931323, 'specificity': 0.2727272727272727}, 
    'MB': {'sensitivity': 0.9851116625310173, 'specificity': 0.27450980392156865}, 
    'LB': {'sensitivity': 0.9713114754098361, 'specificity': 0.55}, 
    'AG': {'sensitivity': 0.9822595704948646, 'specificity': 0.8888888888888888}, 
    'AT': {'sensitivity': 0.9776536312849162, 'specificity': 0.8763440860215054}, 
    'BB': {'sensitivity': 0.9857621440536013, 'specificity': 0.6515151515151515}, 
    'SD': {'sensitivity': 0.9938488576449912, 'specificity': 0.9180327868852459}, 
    'NO': {'sensitivity': 0.9431714023831348, 'specificity': 0.7869822485207101}}
    ]

all_c_dict = {'ES':0, 'GE':1, 'CR':2, 'UB':3, 'MB':4, 'LB':5, 'AG':6, 'AT':7, 'BB':8, 'SD':9, 'NO':10}

In [35]:
# a[list(all_c_dict.keys())[0]['sensitivity']]
# [list(all_c_dict.keys())[0]]

a[0]

{'ES': {'sensitivity': 0.9930131004366812, 'specificity': 0.8},
 'GE': {'sensitivity': 0.9817123857024106, 'specificity': 0.8245614035087719},
 'CR': {'sensitivity': 0.9651056014692379, 'specificity': 0.8771929824561403},
 'UB': {'sensitivity': 0.9694656488549618, 'specificity': 0.38271604938271603},
 'MB': {'sensitivity': 0.9815590947191953, 'specificity': 0.1791044776119403},
 'LB': {'sensitivity': 0.975328947368421, 'specificity': 0.4772727272727273},
 'AG': {'sensitivity': 0.9777571825764597, 'specificity': 0.9116022099447514},
 'AT': {'sensitivity': 0.9721448467966574, 'specificity': 0.8579234972677595},
 'BB': {'sensitivity': 0.9891304347826086, 'specificity': 0.796875},
 'SD': {'sensitivity': 0.9964695498676082, 'specificity': 0.9291338582677166},
 'NO': {'sensitivity': 0.9431192660550459, 'specificity': 0.7470588235294118}}

In [44]:
a = {}

# a[list(all_c_dict.keys())[i]] = {'sensitivity': sen, 'specificity': spe}

for i in range(5):
    try:
        a[0].append(i)
    except:
        a[0] = []
        

a

{0: [1, 2, 3, 4]}